.files-ui-file-item-status-container {
  text-align: center;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 0.5px;
  font-weight: 400;
  &.file-status-error {
    color: #f44336;
  }
  &.file-status-ok {
    color: #5c7a1f;
  }
  &.file-status-loading {
      &.percentage{
          padding: 7px 4px 2px 5px;
      }
    //
    position: relative;
    .abort-button {
      position: absolute;
      right: -2px;
      top: -2px;
    }
    display: flex;
    color: #8b6b10;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);

    //background-color: transparent;
    .uploading-text {
      &.up {
        margin-bottom: -22px;
      }
      &.down {
        margin-top: -20px;
      }

      p.percentage {
        font-weight: 500;
      }
    }
  }
}
