.lds-colorbar {
 // border: 1px crimson solid;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  .files-ui-text-default-loader {
    font-size: 1.5rem;
    font-weight: 400;
    text-anchor: middle;
   //font-size: 1em;
  }
}
