.file-card-right-layer-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 20px;
  width: 100%;

}
.file-card-right-layer-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  height: 20px;
  width: 100%;
}
