.dui-file-item-size {
  box-sizing: border-box;
  font-size: 0.7rem;
  border: 0.5px solid wheat;
  //outline: 0.5px solid wheat;
  text-align: center;
  //border: none;
  color: rgba(255, 255, 255, 0.89);
  //margin: 1.5px 1.5px 0% 0%;
  padding: 2px 1.5px;
  border-radius: 7px;
  background-color: rgba(32, 33, 36, 0.75);
  min-width: 45px;
  word-break: break-word;
  font-family: inherit;
  &:hover {
    background-color: rgba(32, 33, 36, 0.85);
    color: rgba(255, 255, 255, 0.97);
  }
}
