.fui-avatar-main-container {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.486);
  border-radius: 10px;
  &.square {
    border-radius: 0px;
  }
  &.circle {
    border-radius: 50%;
  }
  .fui-avatar-image {
    //width: 100%;
    //height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &:hover {
    .fui-avatar-label {
      &.hide {
        display: flex;
      }
    }
  }
  .fui-avatar-label {
    &.hide {
      display: none;
    }
    margin: 0;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.486);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    &:hover {
      background-color: rgba(71, 71, 71, 0.74);
      display: flex;
      cursor: pointer;
    }
  }
}
