.files-ui-buttons-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  //padding: 10px 0;
  gap: 10px;

  &.top {
    padding-bottom: 10px;
  }
  &.bottom {
    padding-top: 10px;
  }
}
