@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900);

.file-item-full-container-container {
  cursor: text;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 132px;
  word-break: break-word;
  font-size: 15px;
  font-weight: 400;
  //background-color: cadetblue;

  &.hovering {
    // background-color: aqua;
    border-radius: 8px;
  }

  //outline: 1px solid rgb(20, 130, 220);
  .file-item-icon-container {
    position: relative;
    height: 132px;
    width: 132px;
    border-radius: 8px;
    box-sizing: border-box;

    .full-info {
      &::-webkit-scrollbar {
        width: 9px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #646c7fa9;
        border-radius: 20px;
        border: transparent;
      }

      text-align: left;
      position: absolute;
      left: 0;
      top: 0;

      scrollbar-width: thin;
      line-height: 1.5;
      letter-spacing: 0.02857em;
      //border: 1px solid white;
      font-family: "Poppins", sans-serif;
      width: inherit;
      background-color: rgba(0, 0, 0, 0.85);
      word-break: break-word;
      //margin: 1% 4%;
      // padding: 1% 1%;
      border-radius: 7px;
      //z-index: 100;
      height: 100%;
      width: 100%;

      font-size: 0.8rem;
      transition: all 0.5s ease 0s;
      //overflow: hidden;
      overflow: auto;
      color: white;

      .name {
        //margin: -7px 0 0 0;
        padding: 0 5px;
        font-weight: 399;
        // text-align: center;

        .sub-label {
          font-weight: 600;
        }

        &.success {
          border: 1px dashed #2e7d32;
          background-color: #1b5e20;
          //margin: 0 2px;
          font-size: 0.7rem;

          border-radius: 4px;
        }

        &.error {
          background-color: #c62828;
          border: 1px dashed #d32f2f;
          font-size: 0.7rem;

          //margin: 0 2px;
          border-radius: 4px;
        }
      }

      .size {
        // margin-top: 5px;
        padding: 0 5px;
        font-weight: 500;

        .sub-label {
          font-weight: 600;
        }
      }

      .mime {
        //display: none;
        //text-align: left;

        padding: 0 5px;
        font-weight: 399;

        .sub-label {
          font-weight: 600;
        }
      }

      &.hide {
        //height: 0%;
        display: none;
      }
    }
  }

  .file-item-name {
    margin-top: 3px;
    height: 31px;
    text-align: center;
    //width: 133px;
    width: 100%;
    color: black;
    //font-size: 0.95rem;
    font-size: 15px;
    //line-height: 0.9rem;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.07rem;
    word-break: break-all;
    padding: 0.5px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    &.dark-mode {
      color: rgba(255, 255, 255, 0.7);
    }
    &.not-allowed {
      background-color: rgba(180, 16, 16, 0.7);
    }
  }
}

.file-item-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dui-file-item-icon {
  font-size: 0.7rem;
  //border: 1px solid wheat;
  //color: white;
  min-width: 19px;
  min-height: 19px;
  margin: 0;
  padding: 2px 2px;
  border-radius: 50%;
  background-color: rgba(32, 33, 36, 0.65);

  word-break: break-word;

  &:hover {
    background-color: rgba(32, 33, 36, 0.85);
    //outline: 0.5px solid wheat;
  }
}

//////////////////   TOOLTIP
.dz-ui-file-item-container {
  &.dz-ui-tooltip {
    cursor: default;
    position: relative;
    display: inline-block;

    // border-bottom: 1px dotted black;
    &:hover {
      z-index: 2;

      .dropzone-ui-tooltiptext {
        visibility: visible;
        opacity: 1;
        z-index: 2;
      }
    }

    .dropzone-ui-tooltiptext {
      font-family: "Poppins", sans-serif;
      font-size: 0.8rem;
      visibility: hidden;
      width: 133px;
      // background-color: green;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 2px 2px;
      position: absolute;
      //z-index: 2;
      //top: 190px;
      top: 180px;
      left: 66px;
      margin-left: -60px;

      /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
      opacity: 0;
      transition: opacity 1s;

      &.not-valid-error {
        background: linear-gradient(to top, #c62828, #d32f2f);

        &::after {
          border-color: transparent transparent #d32f2f transparent;
        }
      }

      &.success {
        //background-color: green;
        background: linear-gradient(to top, #1b5e20, #2e7d32);

        &::after {
          border-color: transparent transparent #2e7d32 transparent;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        //border-color: transparent transparent green transparent;
      }
    }
  }



  
  &.dz-ui-paper-elevation-1 {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  .dz-ui-paper-elevation-2 {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  .dz-ui-paper-elevation-3 {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
      0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  }

  .dz-ui-paper-elevation-4 {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
}
