.dui-demo-container {
  background-color: rgb(234, 238, 243);
  width: 50%;
  margin: auto;
  padding: 4%;
  border-radius: 10px ;
  border: 1px solid rgb(215, 220, 225);
  .dui-demo-paper {
    background-color: white;
    //width: 100%;
  }
}
