.dui-demo-container {
    background-color: rgb(234, 238, 243);
    //width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 20px 30px;
    border-radius: 10px ;
    border: 1px solid rgb(215, 220, 225);
    .dui-demo-paper {
      background-color: white;
      //width: 100%;
    }
    @media (max-width: 960px) {
        width: 90%;
        padding: 10px 20px;

      }
    @media (max-width: 600px) {
        width: 100%;
        padding: 5px 10px;

      }
  }
  