.dui-loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg_circle_loader {
  border-radius: 50%;
}

text.dui-text-dynamic-loader {
  text-anchor: middle;
  font-size: 1em;
  fill: aliceblue;
}
.loader-container {
  height: 60px;
  width: 60px;
  position: relative;
  outline: 1px solid skyblue;
}

////////////////////////////////////

.dui-main-loader-container {
  position: relative;
  min-width: 60px;
  min-height: 60px;
  background-color: rgba(0, 0, 0, 0.41);
  border-radius: 50%;
  
  &.clickable{
    cursor: pointer;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.61);
  }
  .dui-abort-icon-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dui-dynamic-preparing-loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.x-button-abort {
  position: absolute;
  left: 8px;
  top: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  border-radius: 50%;
  overflow: hidden;
  fill: rgba(255, 255, 255, 0.808);
}
.x-button-abort:hover {
  fill: rgba(255, 255, 255, 0.925);
}
.circle_loader {
  fill: none;
  stroke: #14ff00;
  stroke-width: 6px;
  transform-origin: center;
  transform: rotate(-90deg);
}
