@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900);

.files-ui-file-mosaic-main-container {
  //min width
  width: 132px;

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  word-break: break-word;

  .files-ui-file-mosaic-icon-layer-container {
    width: 132px;
    height: 132px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;

    .files-ui-file-mosaic-image-layer {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        //filter: blur(0);
        //width: 100%;
        //height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      &.blur {
        img {
          filter: blur(4px);
          width: 200%;
          height: 200%;
        }
      }
    }

    .files-ui-file-mosaic-main-layer {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      .file-mosaic-main-layer-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      .file-mosaic-main-layer-footer {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: row;
        .file-mosaic-footer-right {
          display: flex;
          align-items: center;
          flex-direction: row;
          flex-grow: 1;
          align-items: flex-end;
          justify-content: flex-end;
        }
        .file-mosaic-footer-left {
          display: flex;
          align-items: center;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;

          justify-content: center;
        }
      }
    }

    .files-ui-file-mosaic-info-layer {
      position: absolute;
      left: 0;
      right: 0;
      text-align: left;

      scrollbar-width: thin;
      &::-webkit-scrollbar {
        width: 9px;
      }
  
      &::-webkit-scrollbar-track {
        background: transparent;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: #646c7fa9;
        border-radius: 20px;
        border: transparent;
      }
      line-height: 1.5;
      letter-spacing: 0.02857em;
      font-family: "Poppins", sans-serif;
      width: inherit;
      background-color: rgba(0, 0, 0, 0.85);
      word-break: break-word;
      height: 100%;
      width: 100%;
      font-size: 0.8rem;
      transition: all 0.5s ease 0s;
      overflow: auto;
      color: white;
      .files-ui-file-mosaic-info-layer-header {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .heading {
        font-weight: 600;
        padding: 0 5px;
      }
      .label {
        padding: 0 5px;
        font-weight: 399;
      }
    }

    ///

  }

  .files-ui-file-mosaic-file-name {
    margin-top: 1px;
    height: 31px;
    text-align: center;
    width: 100%;
    color: black;
    font-size: 0.95em;
    box-sizing: border-box;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.07rem;
    word-break: break-all;
    //3 dots break in 2 lines
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    &.dark-mode {
      color: rgba(255, 255, 255, 0.7);
    }
  }

/*   &.files-ui-tooltip {
    cursor: default;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    // border-bottom: 1px dotted black;
    &:hover {
      z-index: 2;

      .files-ui-tooltip-tooltiptext {
        visibility: visible;
        opacity: 1;
        z-index: 2;
      }
    }

    .files-ui-tooltip-tooltiptext {
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
      font-size: 0.8rem;
      visibility: hidden;
      width: 132px;
      // background-color: green;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 2px 2px;
      position: absolute;
      //z-index: 2;
      //top: 190px;
      top: 180px;
      left: 66px;
      margin-left: -60px;

      // Fade in tooltip - takes 1 second to go from 0% to 100% opac:
      opacity: 0;
      transition: opacity 1s;

      &.not-valid-error {
        background: linear-gradient(to top, #c62828, #d32f2f);

        &::after {
          border-color: transparent transparent #d32f2f transparent;
        }
      }

      &.success {
        //background-color: green;
        background: linear-gradient(to top, #1b5e20, #2e7d32);

        &::after {
          border-color: transparent transparent #2e7d32 transparent;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        //border-color: transparent transparent green transparent;
      }
    }
  } */
}

//// ICONS
.files-ui-file-icon {
  font-size: 0.7rem;
  min-width: 19px;
  min-height: 19px;
  margin: 0;
  padding: 2px 2px;
  border-radius: 50%;
  background-color: rgba(32, 33, 36, 0.65);
  word-break: break-word;
  &:hover {
    background-color: rgba(32, 33, 36, 0.85);
  }
  &.dark-mode {
    background-color: rgba(154, 160, 166, 0.65);
    &:hover {
      background-color: rgba(154, 160, 166, 0.85);
    }
  }
}
