.fui-img-container {
  &.blur {
    img {
      filter: blur(4px);
      width: 200%;
      height: 200%;
    }
  }
  &.card {
    position: relative;
    width: 80px;
    //height: 80px;
  }
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  //z-index: -1;
  img {
    //filter: blur(0);
    width: 100%;
    //height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
